---
// 卡片海报图
import { Image } from "astro:assets";
import Logo from "/public//nacos_white.png";

export type Props = {
    post: {
        slug: string;
        body: string;
        collection: string;
        data: {
            title?: string | (string | number)[];
            description: string;
            date?: string;
            keywords?: any[];
            author?: string;
        };
    };
    width?: string | number;
    type?: string;
    customWidth?:boolean;
};

const { post, width = 400, type = "blog",customWidth=false } = Astro.props;
const height: number = Number(width) / 2;
const logowidth: number = 0.25 * Number(width);
const widthStr = !customWidth?`${width}px`:'100%';
const heightStr = !customWidth?`${height}px`:'100%';
const imgClassList=customWidth?["background","z-0","rounded-lg","w-auto"]:["background","z-0","rounded-t-2xl","w-auto"]
---

<div
    class="card w-96 bg-base-100 shadow-xl poster relative"
    style={`--poster-width: ${widthStr}; --poster-height: ${heightStr}; --logo-width: ${logowidth}px;}}`}
>
    <img
        src="https://img.alicdn.com/imgextra/i2/O1CN01rP8H2S20AZit0ETbK_!!6000000006809-0-tps-1024-512.jpg"
        alt="Background"
        class:list={[...imgClassList]}
    />

    <div class="title absolute top-0 mt-6 text-gray-01">
        {post.data.title}
    </div>

    <div class="info h-2/5 absolute bottom-0 p-6 text-gray-02">
        <!-- 博客的海报增加作者信息 -->
        {
            type === "blog" && (
                <div class="flex">
                    <img
                        src="https://img.alicdn.com/imgextra/i3/O1CN01GFGkcR1y0NfyEKR0V_!!6000000006516-0-tps-1024-1024.jpg"
                        class="w-10 rounded-full"
                    />
                    <div class="flex flex-col ml-4 pt-2">
                        <p class:list={["text-gray-02", "text-xs"]}>
                            by &nbsp;&nbsp; {post.data.author || "nacos"}
                        </p>
                        <p class="text-[.5rem]">阿里云高级工程师</p>
                    </div>
                </div>
            )
        }

        <Image src={Logo} alt="" class="logo" />
    </div>
</div>
<style>
    .poster {
        position: relative;
        width: var(--poster-width); /* 你希望的海报宽度 */
        height: var(--poster-height); /* 你希望的海报高度 */
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .title {
        font-size: 1.25em; /* 调整为合适的大小 */
        text-align: center;
        z-index: 5;
        line-height: 1.5em;
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .logo {
        width: var(--logo-width);
        height: auto;
    }
</style>
