---
import UIString from "./UIString.astro";
import { getLanguageFromURL } from "../util";
import HeadLink from "./HeadLink.astro";
import { Icon } from "@astrojs/starlight/components";
import type { UIDictionaryKeys } from "../i18n/translation-checkers";
import type { Code } from "astro:components";

export interface Props {
    headingTitle: UIDictionaryKeys;
    linkItems: any[];
}

const { headingTitle, linkItems } = Astro.props as Props;
---

<h2 class="heading"><UIString key={headingTitle} /></h2>
<ul>
    <li>
        {
            linkItems.map((item) => {
                return (
                    <HeadLink href={item.href} depth={item.depth}>
                        <Icon name={item.icon} />
                        <UIString key={item.text} />
                    </HeadLink>
                );
            })
        }
    </li>
</ul>

<style>
    .heading {
        margin-top: 1rem;
    }
</style>
