---
import BlogPoster from "@components/blog/BlogPoster.astro";

export type Props = {
  post: {
    slug: string;
    body: string;
    collection: string;
    data: {
      title: string;
      description: string;
      date: string;
      keywords?: any[];
    };
  };
  posterWidth?: string;
};

const { post, posterWidth } = Astro.props;

// const image = await resolveCoverImage(post);
---

<div class="card glass h-full" style={`width: ${posterWidth}px`}>
  <a href={`/blog/${post.slug}`} rel="prefetch" class="text-gray-15">
    <BlogPoster post={post} width={posterWidth} />
    <div class="card-body w-full h-auto">
      <p class="text-gray-03 text-sm">{post.data.date}</p>
      <h2 class="card-title text-gray-01 text-base">{post.data.title}</h2>
      <p class="text-gray-01 text-xs">{post.data.description}</p>
    </div>
  </a>
</div>

<style>
  a {
    text-decoration: none;
    color: inherit;
  }
</style>
