---
import Toggle from '@components/common/Toggle.astro';
import { isChinese } from '@i18n/util';
import _ from 'lodash';
import dataSource from '@components/common/Header/navbar.ts';
import { docsItems } from '@components/common/Header/DocsMenu.astro';
// import MobileMenu from "@components/common/Header/MobileMenu.astro";

interface Props {
  class?: string;
}

// 修改 文档 菜单显示逻辑
const lastIdx = dataSource.length - 1;
let _dataSource = _.cloneDeep(dataSource);


(() => {
  const pathname = Astro.url.pathname;
  if (!pathname.startsWith('/docs/')) return;
  if (pathname.startsWith('/docs/ebook')) return;

  const regex = /\/docs\/(?!what-is-nacos)([^\/]+)/;

  const matchVersion = {};
  const versions = docsItems.map(item => {
    const match = item.link.match(regex);
    const version = match?.[1] || 'latest';
    Reflect.set(matchVersion, version, {
      zh: item.label,
      en: item.translations?.en,
    })
    return version;
  });

  const match = pathname.match(/\/docs\/([^\/]*)/);
  // next v1 v2
  const result = match?.[1] || '';
  // 文档的当前版本
  const version = versions.includes(result) ? result : 'latest';

  const ifzh = isChinese(Astro);

  // const docsLabel = matchVersion[version][ifzh ? 'zh' : 'en'];
  const docsLabel = matchVersion[version]['zh'];

  _dataSource[0].label = docsLabel;

})();

const ifactive = (toggle) => {
  let active = false;
  const { route, activePath = [] } = toggle;
  if (route) {
    return Astro.url.pathname.startsWith(route);
  }

  active = activePath.some(path => {
    return Astro.url.pathname.startsWith(path);
  });
  return active;
}

---


<navbar-component class="navbar-component h-full">
  <div class=`pc-navbar ${Astro.props?.class || ''}`>
    {
      _dataSource.map(async (toggle, index) => {
        const { label, trigger, route, slot, position = 'absolute', target = "_self", } = toggle;
        // const component = slot && await import(slot);
        const active = ifactive(toggle);
        return (
          <Toggle 
            title={label}
            route={route}
            trigger={trigger}
            active={active}
            slot={slot}
            target={target}
            position={position}
            class={`item ${index === lastIdx ? 'item-last-child' : ''}`}
          >
          </Toggle>
        );
      })
    }
  </div>

  <div class=`mobile-navbar ${Astro.props?.class || ''} hidden`>
    <!-- <Toggle 
      position="fixed"
      trigger="click"
      slot={MobileMenu}
      showArrow={false}
    >
      <svg
        slot="trigger"
        viewBox="0 0 1024 1024"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        p-id="6304"
        width="24"
        height="24"
        >
          <path
            d="M192.037 287.953h640.124c17.673 0 32-14.327 32-32s-14.327-32-32-32H192.037c-17.673 0-32 14.327-32 32s14.327 32 32 32zM832.161 479.169H438.553c-17.673 0-32 14.327-32 32s14.327 32 32 32h393.608c17.673 0 32-14.327 32-32s-14.327-32-32-32zM832.161 735.802H192.037c-17.673 0-32 14.327-32 32s14.327 32 32 32h640.124c17.673 0 32-14.327 32-32s-14.327-32-32-32zM319.028 351.594l-160 160 160 160z"
            fill="#f4f4f6"
            p-id="6305">
          </path>
      </svg>
    </Toggle> -->
  </div>

</navbar-component>

<script>
  class Navbar extends HTMLElement {
    constructor() {
      super();
    }

  }
  customElements.define("navbar-component", Navbar);
</script>

<style>
  navbar-component {
    --navbar-line-bgd: theme('colors.gray.12');
  }
  
  .navbar-component {
    display: inline-block;
    /* 防止换行和空白间隙 2px 默认值 外部不用修改*/
    font-size: 0.125rem; 
  }

  .navbar-component .item::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    width: 1px;
    height: 16px;
    /* height: calc(100% - 20px); */
    background-color: var(--navbar-line-bgd);
  }

  .navbar-component .item-last-child::after {
    display: none;
  }

</style>